.navigation{
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    background-color: rgb(57, 41, 233);
}

.navigation li{
   list-style-type: none;
}

.navigation a{
    text-decoration: none;
    padding: 15px;
    color: white;
    font-weight: 600;
}